<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li>
                <h1> DOODLE JUMP </h1> 
            </li>
            
        </ul>
    </div>
  
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link nes-btn is-success mx-4" target="_blank" href="https://pranavmswamy.github.io/doodle-jump-website/assets/Team_Doodle_Jump_CSCI527_Midterm_EDD.pdf">  EDD </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nes-btn is-success mx-4" target="_blank" href="https://pranavmswamy.github.io/doodle-jump-website/assets/Team_Doodle_Jump_CSCI527_Midterm_Technical_Paper.pdf"> Paper </a>
            </li>
        </ul>
    </div>
</nav>

  