<div class="nes-container">
    
    <app-navbar> </app-navbar>

    <h4>Machine Learning for Games</h4>
    <h4> University of Southern California, Spring 2021</h4>
    
    <ul style="margin-top: 2%;">
        <li><h4> <a  class="nes-text is-success" href="#Video">Game Video</a></h4></li>
        <li><h4> <a  class="nes-text is-success" href="#Goal">Goal</a></h4></li>
        <li><h4> <a  class="nes-text is-success" href="#HyperparameterTuning">Hyperparameter Tuning</a></h4></li>
        <li><h4> <a  class="nes-text is-success" href="#Models">Models Used</a></h4></li>
        <li><h4> <a  class="nes-text is-success" href="#AdvancedImprovements">Advanced Improvements</a></h4></li>
        <li><h4> <a  class="nes-text is-success" href="#TheTeam">The Team </a></h4></li>

    </ul>
    <div class="row">
        <div class="col-md-8">
            <h4 id="DoodleJumpGame"> Doodle Jump Game</h4>
            <p>A platforming video game developed and published by American studio Lima Sky. <br/> <br/>
                Aim is to guide a four-legged creature called "The Doodler" up a never-ending series of platforms without falling. <br/> <br/>
                Players can get boost from various objects, such as propeller hats, jetpacks, rockets, springs, trampolines.
            </p>
            <br/>  <br/>  <br/>  <br/> <br/>  <br/>
            <h4 id="Video"> Game Video </h4>
            <iframe width="700" 
                height="406" 
                src="https://www.youtube.com/embed/Zi5XisAxvgw" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
            <br/>  <br/>  <br/>  <br/> <br/>  <br/>
            <h4 id="Goal"> Goal </h4>
            <p>
            Build an AI player model that interacts with the game and allows the doodler to climb up the platforms. <br/> <br/>
            Explore a combination of computer vision and reinforcement learning agents like DQN, DRQN, PPO and A3C. <br/> <br/>
            Attack the model using Adversarial Attack
            </p>
            <br/>  <br/>  <br/>  <br/> <br/>  <br/>
            
            <h4 id="HyperparameterTuning"> Hyperparameter Tuning </h4>
           <ul>
               <li>Reward Type Comparison</li>
               <br/> <br/> 
               <li>Learning Rate Comparison</li>
               <br/> <br/> 
               <li>Gamma Comparison</li>
               <br/> <br/> 
               <li>Max memory/Batch Size Comparison</li>
           </ul>
            
            <br/>  <br/>  <br/>  <br/> <br/>  <br/>
            <h4 id="Models"> Models Used </h4>
            <ul>
                <li>Deep Q-Network (DQN)</li>
                <img src="assets/dqn.png" width="700" height="300"/>
                <p>Best performing DQN results</p>
                <p>Mean Reward   -0.91053 <br>
                     High Score  11800 <br>
                      Mean Score  2854.2</p>
                <br/> <br/> <br/>
                <li>Deep Recurrent Q-Network (DQN)</li>
                <img src="assets/drqn.png" width="700" height="300"/>
                <p>Best performing DRQN results</p>
                <p>Mean Reward   -0.89775 <br>
                     High Score  21100 <br>
                      Mean Score  2079.7</p>
                <br/> <br/> <br/>
                <li>Proximal Policy Optimization (PPO)</li>
                <img src="assets/ppo.png" width="700" height="300"/>
                <p>Best performing PPO results</p>
                <p>Mean Reward   -0.00034340 <br>
                     High Score  9400 <br>
                      Mean Score  1841.3</p>
                <br/> <br/> <br/>
                <li>Advantage Actor Critic (A2C)</li>
                <img src="assets/ppo.png" width="700" height="300"/>
                <p>Best performing A2C results</p>
                <p>Mean Reward   0.0000 <br>
                     High Score  11600 <br>
                      Mean Score  2742.1</p>
                <br/> <br/> <br/>
            </ul>
            
            <br/>  <br/>  <br/>  <br/> <br/>  <br/>
            <h4 id="AdvancedImprovements"> Advanced Improvements </h4>
            <ul>
                <li> <h5>Incorporated Exploration vs Exploitation </h5></li>
                <p>  Epsilon Greedy with Fixed Epsilon <br>
                    Epsilon Greedy with Exponential Epsilon <br>
                    Epsilon Greedy with Exponential Curve Epsilon <br>
                </p>
                <li> <h5>Added Feature Extractors </h5></li>
                <p>  resnet18 <br>
                    mnasnet <br>
                    mobilenet <br>
                </p>

                <li> <h5>Attacked our models using Adversarial Attack</h5></li>
                <p> 
                    Performed white-box FGSM attack on the model
                </p>
            </ul>
            <br/>  <br/>  <br/>  <br/> <br/>  <br/>  
            <!-- <h4> Adversarial Attack </h4>
                Adversarial attacking is a machine learning technique that attempts to fool models by supplying deceptive input that looks similar to the human eye.
            This part of our project is mainly to look into possibilities of eliminating players using game bots to deceive Anti-cheat engines.  
            Our goal is to research on building a neural network that would manipulate the input image sent to reinforcement learning system to confuse the game bot.
            <div class="lists">
                <p> Challenges: </p>
                <ul class="nes-list is-disc">
                <li>This topic is still in continuous research in the academia, especially for reinforcement learning systems.</li> <br>
                </ul>
            </div> -->
        </div>
        <div class="col-md-4">
            <img src="assets/200w.gif" />
            <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <img src="assets/pic1.png" />
            <br> <br> <br> <br> <br>
            <img src="assets/pic2.png" />
            <br> <br> <br>  <br> <br>
            <img src="assets/pic3.png" />
            <br> <br> <br>  <br> <br>
            <img src="assets/pic4.png" />
            <br> <br> <br>  <br> <br>
            <img src="assets/pic5.png" />
            <br> <br> <br>  <br> <br>
            <img src="assets/game_difficulty_explanation.png" />
            <!-- <img src="assets/img1.png"> -->
        </div>
    </div>

    <div class="container-fluid row">
        <div class="col-md-12">
            <h4 style="margin-bottom: 20px;" id="TheTeam"> The Team </h4>
            <div class="row text-center" style="margin-bottom: 5%;">
                <div class="col-md-4">
                    <img src="assets/amulya.jpeg" width="300px"/> <br>
                    <a href="https://www.linkedin.com/in/amulya-raveendra-katti/"  target="_blank" class="nes-text is-success" > Amulya Raveendra Katti </a>
                    
                </div>
                <div class="col-md-4">
                    <img src="assets/anamay.jpeg" width="300px"/> <br>
                    <a href="https://www.linkedin.com/in/anamaysarkar/" target="_blank" class="nes-text is-success" > Anamay Sarkar </a>
                  
                </div>
                <div class="col-md-4">
                    <img src="assets/pranav.png" width="300px"/> <br>
                    <a href="https://www.linkedin.com/in/pranavm13/" target="_blank" class="nes-text is-success" > Pranav Mallikarjuna Swamy </a>
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <img src="assets/riya.jpeg" width="300px"/> <br>
                    <a href="https://www.linkedin.com/in/kothari-riya/" target="_blank" class="nes-text is-success" > Riya Kothari </a>
                    
                </div>
                <div class="col-md-6">
                    <img src="assets/pratik.jpeg" width="300px"/> <br>
                    <a href="https://www.linkedin.com/in/pshenoy36/" target="_blank" class="nes-text is-success" > Shenoy Pratik Gurudatt </a>
                    
                </div>
            </div>
        </div>
       
    </div>

    <div class="container-fluid row text-center" style="margin-top: 5%;">
        <div class="col-md-12">
            <h4>Thank you! </h4>
            <img src="assets/djyay.gif" width="300px"/>
        </div>
    </div>

</div>